<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="coms309.mainproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:exported="true"
            android:parentActivityName=".SignIn">
        </activity>
        <activity
            android:name=".contacts.ContactsActivity"
            android:exported="true"
            android:parentActivityName=".MainMenu">
        </activity>
        <activity
            android:name=".contacts.IndividualContact"
            android:exported="true"
            android:parentActivityName=".MainMenu">
        </activity>
        <activity
            android:name=".groups.showAllGroups"
            android:exported="true"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".contacts.AddContact"
            android:exported="true"
            android:parentActivityName=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.CONTACTS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".schedule.ScheduleView"
            android:exported="true"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".schedule.event_forms.AddEventActivity"
            android:parentActivityName=".schedule.ScheduleView" />
        <activity
            android:name=".schedule.event_forms.EditEventActivity"
            android:parentActivityName=".schedule.ScheduleView" />
        <activity
            android:name=".courses.AddCourseActivity"
            android:exported="true"
            android:parentActivityName=".courses.ViewAllCoursesActivity" />
        <activity
            android:name=".courses.ViewAllCoursesActivity"
            android:exported="true"
            android:parentActivityName=".MainMenu" />
        <activity
            android:name=".courses.ViewSpecificCourseActivity"
            android:exported="true"
            android:parentActivityName=".courses.ViewAllCoursesActivity" />
        <activity
            android:name=".courses.EditCourse"
            android:exported="true"
            android:parentActivityName=".courses.ViewSpecificCourseActivity" />
        <activity
            android:name=".schedule.EventFormActivity"
            android:label="@string/title_activity_event_form"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="coms309.mainproject.MainMenu" />
        </activity>
        <activity
            android:name=".groups.AddGroup"
            android:label="@string/title_activity_add_group"
            android:parentActivityName=".groups.showAllGroups"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="coms309.mainproject.groups.showAllGroups" />
        </activity>
        <activity
            android:name=".groups.IndividualGroupActivity"
            android:label="@string/title_activity_individual_group"
            android:parentActivityName=".groups.showAllGroups"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="coms309.mainproject.groups.showAllGroups" />
        </activity>
    </application>

</manifest>